/*------------------------------------------------------------*/

/*ini imports*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*fin imports*/

/*------------------------------------------------------------*/

/*ini header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Lobster', sans-serif, cursive;*/
}

.header{
    width: 100%;
    height: 45px;
    background: #222;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px
    orangered;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    float: left;
    line-height: 60px;
}

#logo{
    color: #999;
    max-width: 400;
    font-size: 20px;
    cursor: default;
    padding-top: 8px;
    font-size: 25px;
}

.txtlogo {
    color: #999;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 8px;
}

.menu{
    float: right;
    line-height: 5px;
}

.menu a{
    color: #999;
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    line-height: normal;
    font-size: 21px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: gold;
    border-bottom: 4px solid gold;
}

/*fin header*/

/*------------------------------------------------------------*/

/*ini contacto.html*/

.container_contacto{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Lobster', sans-serif, cursive;*/
    background-color:white;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #337ab7;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background:#337ab7;
    color:white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #0f3c63;
}

.info-form h2, p{
    color: black;
}
/*------------------------------------------------------------*/
/*ini footer*/

/*ini pie pagina*/


.pie-pagina{
    width: 100%;
    background-color: #eee;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #337ab7;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: goldenrod;
}
.pie-pagina .grupo-2{
    background-color: #222;
    padding: 15px 10px;
    text-align: center;
    color: #999;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*fin pie pagina*/

/*fin footer*/

/*------------------------------------------------------------*/